body{
    height:500px;
}


.menu_div{
    position:fixed;
    top: 0%;
    left: 0%;

}

.menu_button{
   font-size: 30px;
   background-color: black;
   color:white;
   font-family: monospace;
   border: 2px solid #FC5E3D;
   border-radius: 5px;
}

#h1{
    top: 5%;
    position: absolute;
    font-family: monospace;
}
#explicacao{
    top:40%;
    position: absolute;
    font-size: 18px;
}
#resultados{
    font-family: monospace;
    display: none;
    font-size: xxx-large;
    left: 6px;
    position: relative;
    font-weight: lighter;    
}
#iniciocaixa_div{
    display:block;
    position:relative;
    top:80px;
    left:0%;
    color:white;
    height: 100px;
    width: 600px;
    background-color: #FC5E3D;
    
}

#bookname{
    border-radius: 4px;
    border-block-style: double;height: 25px;
    width: 200px;position: relative;
}

#Procurar{
    position: relative;
    top: 20px;
    background-color: white;
    border-style: outset;
    border-radius: 10px;
    border-width: thick;
    border-color: aquamarine;
    font-family: monospace;
}

.acervodiv{
    display:none;
    position:relative;
    background-color: darkgray;
    height: 224px;
    border-style: solid;
    margin:6px;
    top:8px;
    width: 502px;
}
#bookimage{
    display:none;
    position:relative;
    height: 224px;
}